.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.separator {
  color: #dc4b4c;
}

a.link {
  color: #ff886c;
}

a.link:hover {
  color: #dc4b4c;
}